@import "globals";
// scss file for project 4.

// Color variables:
$DarkBackground: #124559;
$lightBackground: #DFDFDF;
$HeaderFont: #F4E8C1;
$navAside: #6BAB90;



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $lightBackground;
    color: black;
    //width: min(100% - 2rem, 1300px );
    //align-items: center;
    //justify-content: center;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-nav {
    display: flex;
    list-style: none;
    background-color: $DarkBackground;
    margin: 0;
    color: #DFDFDF;
}

.nav-element {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.push {
    margin-left: auto;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50vh;
    margin-inline: auto;
    padding: 2rem;
}

.headingText {
    font-size: 4rem;
    max-width: 25ch;
    margin-bottom: 2rem;
}

.subheadingText {
    font-size: 2rem;
    max-width: 50ch;
}

.personalImage > img {
    width: 350px;
    border: hidden round;
    border-radius: 20px;
}


.mainContent{
    padding-left: 3rem;

}


.navElement:hover{
    scale: 1.05;
    transition: ease-in-out 0.5s;

}


//Define the navAside to make sure that it will take up the side bar to allow users to quickly access the section of the website they want. 
// .navAside{
//     padding-top: 3rem;
//     text-align: center;
//     grid-row: 1 / 5;
//     background-color: $DarkBackground;
//     border: hidden;
//     border-radius: 5px;
// }


.contactCard {
    border: solid;
    border-radius: 7px;
    border-color: white;
    padding-bottom: 4rem;

}

 header {
     display: inline;
 }
// .nightmode-container{
//     display: inline;
//     width: 100%;
//     background-color: $DarkBackground;
// }

// .toggle-switch input{
//     opacity: 0;
//     width: 0;
//     height: 0;
// }

// .toggle-switch {
//     position: relative;
//     display: inline-block;
//     width: 2%;
//     height: 1.5%;
//     margin-bottom: 0.5rem;
//     margin-inline: auto;
// }

// .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: lightgray;
//     transition: all 0.4s ease-in;
//     border-radius: 2.0rem;
// }

